<div class="container-fullwidth">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'lab-10:index' %}">Lab-10</a>
      </div>
      <ul class="nav navbar-nav">
        {% if login %}
        <li class="active"><a href="{% url 'lab-10:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>
        <li class="active"><a href="{% url 'lab-10:movie_list' %}">Movie List</a></li>
        <li class="active"><a href="{% url 'lab-10:list_watch_later' %}">Watch Later</a></li>
        <li class="active"><a href="{% url 'lab-10:dashboard' %}">Dashboard</a></li>
        {% endif %}
        
      </ul>
    </div>
  </nav>
</div>
