{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
    <h1> {{ movie.title}} </h1>
    <hr>
    <img class='poster-detail' src= {{movie.poster}}> </img>
    <h1 class="movie-detail"> Year: {{ movie.year}} </h1>
    <h1 class="movie-detail"> Released: {{ movie.released}} </h1>
    <h1 class="movie-detail"> Genre: {{ movie.genre}} </h1>
    <h1 class="movie-detail"> Duration: {{ movie.runtime}} </h1>
    <h1 class="movie-detail"> Ratings: {{ movie.rated}} </h1>
    <h1 class="movie-detail"> Actors: {{ movie.actors}} </h1>
    <h1 class="movie-detail"> Director: {{ movie.director}} </h1>
    <h1 class="movie-detail"> Writer: {{ movie.writer}} </h1>
    <h1 class="movie-detail"> Synopsis: {{ movie.plot}} </h1>
    <h1 class="movie-detail"> Language: {{ movie.language}} </h1>
    <h1 class="movie-detail"> Country: {{ movie.country}} </h1>
    <h1 class="movie-detail"> Production: {{ movie.production}} </h1>
    <h1 class="movie-detail"> Website: {{ movie.website}} </h1>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a id="add-button" href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}