{% extends "lab_10/layout/base.html" %}

{% block content %}
<section id="list-watch-later">
    <div class="container">
        <h2 class="watch-later-title">Watch Later</h2>
        <div class="flex">
            {% if watch_later_movies %}
                {% for movie in watch_later_movies %}
                    <div class="flex-item">
                        
                        <div class="movies">
                            <div class="movie-title">
                                {{movie.title}}
                            </div>
                            <div class="movie-picture">
                                <img class='poster-later' src= {{movie.poster}}> </img>
                            </div>
                            <div class="movie-year">
                                {{movie.year}}
                            </div>
                            <div class="to-do-list-delete">
                                <button class=btn onclick="dd">Watched</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Oops!</strong> No movies to watch later.
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
