.movie-detail{
	font-size: 20px;
}

.poster-detail{
	float: left;
	margin-right: 20px;
	margin-bottom: 200px;
}

#add-button{
	float: right;
}

.btn-success{
	float: right;
}

#list-watch-later{
  /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);*/
}
#list-watch-later .watch-later-title{
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.movies{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  height:350px;
  width: 230px;
  border-style: solid;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*.movies:after{
    content:"";
    display:block;
    height:25px;  Which is the padding of div.container 
    background: #fff;
}*/
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  height: 400px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  display: flex;
}

.movies .movie-title {
  font-size: 100%;
  font-weight: 700;
  padding: 10px 10px 0;
}
.movies .movie-year {
  font-size: 15px;
}
.movies .movie-picture {
  padding: 5px 25px;
  z-index: 15;
  background: #fff;
  height: 250px;
  text-align: center;
  overflow: auto;
}

.poster-later{
	max-height: 240px;
	width: auto;
}

.btn{
	/*position: absolute;*/
	bottom: 0;
	right: 0;
}
/*.to-do-list .to-do-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.to-do-list:hover .to-do-list-delete {
  bottom: -50px;
}*/

.footer {
	/*position: fixed;*/
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 1px;
	background-color: #CED4D6;
	color: black;
	text-align: center;
}
