#main {
        background­-color:#f0f0f0;
        color:red;
        font­-family:georgia;
        font­-size:0.8em;
    }

h1 {
        color:#FCA205;
        font-family:'Monospace';
        font-style:italic;
    }
