<div class="container-fullwidth">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'lab-9:index' %}">Lab-9</a>
      </div>
      <ul class="nav navbar-nav">
        {% if login %}
        <li class="active"><a href="{% url 'lab-9:auth_logout' %}" onclick="return confirm('Keluar?')">Logout</a></li>
        {% endif %}
        
      </ul>
    </div>
  </nav>
</div>
