{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <p style= "font-size:25px; color: #581845" class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}